
.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.formStyle {
  margin: 10px 10px 10px 10px;
  justify-content: center;
}
.center{
  justify-content: center;
}
.card-width{
  width: 20rem;
}
input {
  margin-left: 20px;
}
h1 {
  font-size: 55px;
}
@media (max-width: 500px) {
  label{
    display: none;
  }
  
}
@media (min-width: 500px) {
  body, html, #root, .container-fluid, .container-fluid > .row, .side-bar {
    height:100%;
    justify-content:start;
  }
}
