.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.formStyle {
  margin: 10px 10px 10px 10px;
  justify-content: center;
}
.center{
  justify-content: center;
}
input {
  margin-left: 20px;
}

@media (max-width: 200px) {
  label{
    display: none;
  }
}